<template>
  <div class="home">
    <SignSection/>
  </div>
</template>

<script>
import SignSection from '@/components/SignSection.vue'

export default {
  name: 'Home',
  components: {
    SignSection
  },
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isLoggedIn
    }
  },
  watch: {
    isLoggedIn: function (val) {
      if(val==true) this.$router.push('workouts')
      else this.$router.push('home')
    }
  },
  mounted(){
    if(this.$store.getters.isLoggedIn) this.$router.push('workouts')
  }
}
</script>
