<template style="background-color: red">
  <v-container>
    <WorkoutForm :workout="workout"/>
    <v-row justify="center">
      <v-col md="12">
        <v-card>
          <v-card-title>
            <h3> {{ workout.name }} </h3>
          </v-card-title>
          <v-card-text>
            <v-row>
              <div class="ml-2 mt-2">
                {{ workout.description }}
              </div>
            </v-row>
            <v-row>
              <div class="ml-2 mt-8">
                <b>Duration: </b>
                {{ workout.duration }} minutes
              </div>
            </v-row>
            <v-row>
              <div class="ml-2 mt-2">
                <b>Series: </b>
                {{ workout.series }}
              </div>
            </v-row>
            <v-row>
              <div class="ml-2 mt-2">
                <b>Difficulty: </b>
                {{ workout.difficulty }}
              </div>
            </v-row>
            <v-row>
              <div class="ml-2 mt-2">
                <b >Tags: </b>
                <span v-for="(t, index) in workout.tags"  :key="index">
                  {{ t }}{{ index &lt; workout.tags.length -1 ? ',': '' }}
                </span>
              </div>
            </v-row>
            <v-row>
              <div class="ml-2 mt-2">
                <b>Exercises: </b>
                {{ workout.exercises.length }}
              </div>
            </v-row>
            <v-row>
              <div class="ml-2 mt-8">
                <h2>Workout: </h2>
                <div class="mt-4">
                  <div class="mt-4" v-for="(e, index) in workout.exercises"  :key="index">
                    <span style="color: black">
                      {{ index + 1}}. {{ e.name }}
                    </span>
                    <br/>
                    <span class="">
                      {{ e.number }} {{ e.unity }}
                    </span>
                  </div>
                </div>
              </div>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- <v-col>
        <v-card>
          <v-card-title>
            A
          </v-card-title>
        </v-card>
        <v-card class='mt-10'>
          <v-card-title>
            A
          </v-card-title>
        </v-card>
      </v-col> -->
    </v-row>
  </v-container>
</template>

<script>
  import api from '@/api/index.js'
  import WorkoutForm from '@/components/WorkoutForm.vue'
  export default {
    components: {
      WorkoutForm
    },
      data(){
        return {
          // workout: {
          //   title: 'Full body',
          //   description : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
          //   duration: 50,
          //   series: 5,
          //   difficulty: 'advanced',
          //   tags: ['full body','fat burning'],
          //   exercises: [
          //     {
          //       name: 'Planche',
          //       number: 50,
          //       unity: 'seconds'
          //     },
          //     {
          //       name: 'Push ups',
          //       number: 30,
          //       unity: 'seconds'
          //     },
          //     {
          //       name: 'Pull ups',
          //       number: 5,
          //       unity: 'units'
          //     },
          //     {
          //       name: 'Sit ups',
          //       number: 15,
          //       unity: 'units'
          //     },
          //   ]
          // }
        }
    },
    computed: {
      workout: {
        get: function (){
          if(this.$store.state.workouts.length === 0){
            return api.workouts.get(this.$route.params.id)
          } else {
            return this.$store.getters.getWorkoutById(this.$route.params.id)
          }
        },
      }
    },
    mounted(){
    }
  }
</script>

<style scoped>
</style>
