<template>
  <v-row class="ml-2">
    <v-col sm="2" md="4" xl="3" v-for="(w, index) in workouts" :key="index">
      <div >
        <WorkoutCard
          :id='w["_id"]'
          :title='w.name'
          :description ='w.description'
          :duration='w.duration'
          :series='w.series'
          :difficulty='w.difficulty'
          :tags='w.tags'
          :exercises='w.exercises.length'
        />
    </div>
  </v-col>
  <AddWorkout/>
  </v-row>
</template>

<script>
  import WorkoutCard from '@/components/WorkoutCard.vue'
  import AddWorkout from '@/components/AddWorkout.vue'

  export default {
    components: {
      WorkoutCard,
      AddWorkout
    },
    computed: {
      workouts() {
        return this.$store.state.workouts
      }
    },
    mounted(){
      this.$store.dispatch('fetchWorkouts')
    },
    data: () => ({
        list: ['fat burning','full body'],
        dialog: false
    }),
  }
</script>
