<template>
  <div>
    <v-btn
      fixed
      dark
      fab
      bottom
      right
      color="pink"
      @click="setDialog"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" id="dialog" persistent max-width="600px" min-width="360px">
      <v-card class="px-4">
          <v-card-text>
              <v-form ref="registerForm" v-model="valid" lazy-validation>
                  <v-row>
                      <v-col cols="12">
                          <v-text-field v-model="name" :rules="[rules.required]" label="Name" maxlength="20" required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-textarea
                          v-model="description"
                          :rules="[rules.required]"
                          label="Description"
                          rows="2"
                          required
                          value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                        ></v-textarea>
                      </v-col>
                      <v-col cols="12" md="6" sm="6">
                          <v-text-field v-model="duration" :rules="[rules.required]" label="Duration" required></v-text-field>
                      </v-col>
                      <v-col cols="12" md="6" sm="6">
                          <v-text-field v-model="series" :rules="[rules.required]" label="Series" required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                          <v-select
                            :items="['Beginner', 'Intermediate', 'Advanced']"
                            v-model="difficulty"
                            filled
                            label="Difficulty"
                            dense
                            required
                          ></v-select>
                      </v-col>
                      <v-col cols="12">
                        <v-combobox
                          v-model="tags"
                          hide-selected
                          label="Tags"
                          multiple
                          persistent-hint
                          small-chips
                          required
                        >
                        </v-combobox>
                      </v-col>
                      <v-col cols="12" md="5">
                        <v-text-field v-model="eName" label="Name"></v-text-field>
                      </v-col>
                      <v-col cols="12" md="5">
                        <v-text-field v-model="eDuration" type="number" label="Repetitions"></v-text-field>
                      </v-col>
                      <v-col cols="12" md="2">
                        <v-btn
                          x-small
                          dark
                          fab
                          color="pink"
                          @click="addExercise"
                        >
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                      </v-col>
                        <v-col
                          v-for="(e, i) in exercises"
                          :key="e.text"
                          class="shrink"
                        >
                          <v-chip
                            close
                            @click:close="exercises.splice(i, 1)"
                          >
                            {{ e.name }}
                          </v-chip>
                        </v-col>
                      <v-spacer></v-spacer>
                      <v-col cols="12">
                      <v-row>
                        <v-col class="d-flex" cols="12" sm="3" xsm="12">
                            <v-btn x-large block color="error" @click="cancel">Cancel</v-btn>
                        </v-col>
                        <v-col class="d-flex ml-auto" cols="12" sm="3" xsm="12">
                            <v-btn x-large block :disabled="!valid" color="success" @click="validate">Add</v-btn>
                        </v-col>
                      </v-row>
                      </v-col>
                  </v-row>
              </v-form>
          </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  computed: {
    passwordMatch() {
      return () => this.password === this.verify || "Password must match";
    }
  },
  methods: {
    validate() {
      if (this.$refs.registerForm.validate()) {
        this.$store.dispatch('addWorkout',{
          name: this.name,
          description: this.description,
          duration: parseInt(this.duration),
          series: parseInt(this.series),
          exercises: this.exercises,
          difficulty: this.difficulty,
          tags: this.tags
        })
        this.dialog=false
      }
    },
    cancel(){
      this.dialog=false
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    addExercise(){
      this.exercises.push({
        name: this.eName,
        unity: 'repetitions',
        number: parseInt(this.eDuration),
      })
      this.eName=''
      this.eDuration=''
    },
    setDialog(){
      this.dialog=true
    }
  },
  data: () => ({
    dialog: false,
    exercises: [],
    name: '',
    description: '',
    duration: '',
    series: '',
    difficulty: '',
    eName: '',
    eDuration: '',
    tags: [],
    valid: true,
    show1: false,
    rules: {
      required: value => !!value || "Required."
    }
  })
}
</script>
