<template>
  <div>
    <v-btn
      fixed
      dark
      fab
      bottom
      right
      color="pink"
      @click="setDialog"
    >
      <v-icon>{{workout == null ? 'mdi-plus' : 'mdi-pencil'}}</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" id="dialog" persistent max-width="600px" min-width="360px">
      <v-card class="px-4">
          <v-card-text>
              <v-form ref="registerForm" v-model="valid" lazy-validation>
                  <v-row>
                      <v-col cols="12">
                          <v-text-field v-model="workoutForm.name" :rules="[rules.required]" label="Name" maxlength="20" required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-textarea
                          v-model="workoutForm.description"
                          :rules="[rules.required]"
                          label="Description"
                          rows="2"
                          required
                          value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                        ></v-textarea>
                      </v-col>
                      <v-col cols="12" md="6" sm="6">
                          <v-text-field v-model="workoutForm.duration" :rules="[rules.required]" label="Duration" required></v-text-field>
                      </v-col>
                      <v-col cols="12" md="6" sm="6">
                          <v-text-field v-model="workoutForm.series" :rules="[rules.required]" label="Series" required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                          <v-select
                            :items="['Beginner', 'Intermediate', 'Advanced']"
                            v-model="workoutForm.difficulty"
                            filled
                            label="Difficulty"
                            dense
                            required
                          ></v-select>
                      </v-col>
                      <v-col cols="12">
                        <v-combobox
                          v-model="workoutForm.tags"
                          hide-selected
                          label="Tags"
                          multiple
                          persistent-hint
                          small-chips
                          required
                        >
                        </v-combobox>
                      </v-col>
                      <v-col cols="12" md="5">
                        <v-text-field v-model="eName" label="Name"></v-text-field>
                      </v-col>
                      <v-col cols="12" md="5">
                        <v-text-field v-model="eDuration" type="number" label="Repetitions"></v-text-field>
                      </v-col>
                      <v-col cols="12" md="2">
                        <v-btn
                          x-small
                          dark
                          fab
                          color="pink"
                          @click="addExercise"
                        >
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                      </v-col>
                        <v-col
                          v-for="(e, i) in workoutForm.exercises"
                          :key="e.text"
                          class="shrink"
                        >
                          <v-chip
                            close
                            @click:close="exercises.splice(i, 1)"
                          >
                            {{ e.name }}
                          </v-chip>
                        </v-col>
                      <v-spacer></v-spacer>
                      <v-col cols="12">
                      <v-row>
                        <v-col class="d-flex" cols="12" sm="3" xsm="12">
                            <v-btn x-large block color="error" @click="cancel">Cancel</v-btn>
                        </v-col>
                        <v-col class="d-flex ml-auto" cols="12" sm="3" xsm="12">
                            <v-btn x-large block :disabled="!valid" color="success" @click="validate">{{ workout == null ? 'Add' : 'Update'}}</v-btn>
                        </v-col>
                      </v-row>
                      </v-col>
                  </v-row>
              </v-form>
          </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: [
    'workout'
  ],
  computed: {
    passwordMatch() {
      return () => this.password === this.verify || "Password must match";
    },
    workoutForm(){
      if(this.workout == null) return {
        exercises: [],
        name: '',
        description: '',
        duration: '',
        series: '',
        difficulty: '',
        tags: [],
      }
      else return JSON.parse(JSON.stringify(this.workout))
    }
  },
  methods: {
    validate() {
      if (this.$refs.registerForm.validate()) {
        if(this.workout == null) this.$store.dispatch('addWorkout', this.workoutForm)
        else {
          this.$store.dispatch('updateWorkout', this.workoutForm)
          this.updateObj()
        }
        this.dialog=false
      }
    },
    updateObj(){
      this.workout.name = this.workoutForm.name
      this.workout.description = this.workoutForm.description
      this.workout.duration = this.workoutForm.duration
      this.workout.series = this.workoutForm.series
      this.workout.difficulty = this.workoutForm.difficulty
      this.workout.exercises = this.workoutForm.exercises
      this.workout.tags = this.workoutForm.tags
    },
    cancel(){
      this.dialog=false
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    addExercise(){
      this.exercises.push({
        name: this.eName,
        unity: 'repetitions',
        number: parseInt(this.eDuration),
      })
      this.eName=''
      this.eDuration=''
    },
    setDialog(){
      this.dialog=true
    }
  },
  data: () => ({
    dialog: false,
    eName: '',
    eDuration: '',
    valid: true,
    rules: {
      required: value => !!value || "Required."
    }
  })
}
</script>
