<template>
<v-container>
  <v-row align="center" justify="center">
    <v-col>
      <v-col cols="12" md="3" class="d-flex ml-auto">
        <v-btn
          x-small
          color="error"
          dark
          rounded
          fixed
          fab
          @click="del(id)"
          style="z-index: 1"
        >
          <v-icon>
            mdi-close
          </v-icon>
        </v-btn>
      </v-col>
      <v-card max-width='400' min-height="450">
        <v-card-title>
          {{ title }}
        </v-card-title>
        <v-card-text>
          <v-row>
            <div class='ml-4 mr-4'>
              {{ description }}
            </div>
          </v-row>
          <v-row>
            <div class="ml-4 mt-6">
              <b>Duration: </b>
              {{ duration }} minutes
            </div>
          </v-row>
          <v-row>
            <div class="ml-4 mt-2">
              <b>Series: </b>
              {{ series }}
            </div>
          </v-row>
          <v-row>
            <div class="ml-4 mt-2">
              <b>Difficulty: </b>
              {{ difficulty }}
            </div>
          </v-row>
          <v-row>
            <div class="ml-4 mt-2">
              <b >Tags: </b>
              <span v-for="(t, index) in tags"  :key="index">
                {{ t }}{{ index &lt; tags.length -1 ? ',': '' }}
              </span>
            </div>
          </v-row>
          <v-row>
            <div class="ml-4 mt-2">
              <b>Exercises: </b>
              {{ exercises }}
            </div>
          </v-row>
        </v-card-text>
        <v-card-actions class="d-flex">
          <v-btn
            color="#18A0FB"
            dark
            rounded
            @click="explore"
            min-width="95%"
            absolute
            bottom
            center
          >
            Expore
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</v-container>
</template>

<script>
export default {
  props: [
    'id',
    'title',
    'description',
    'duration',
    'series',
    'difficulty',
    'tags',
    'exercises'
  ],
  data: () =>{
    return {
    }
  },
  methods: {
    explore(){
      this.$router.push(`/workouts/${this.id}`)
    },
    del(id){
      console.log('delete ' + id)
      this.$store.dispatch('deleteWorkout', id)
    }
  }

}
</script>
