<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">

        <span style="font-size: 25px ; font-weight: lighter;">
          Calisthenics Community
        </span>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        v-if="!($store.getters.isLoggedIn)"
        @click="$route.name=='home' ? $router.push('/') : ''"
        text
      >
        <span class="mr-2">LOGIN</span>
        <v-icon>mdi-login</v-icon>
      </v-btn>
      <v-btn
        v-else
        @click="$store.dispatch('logout')"
        text
      >
        <span class="mr-2">LOGOUT</span>
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },

  data: () => ({
  }),
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isLoggedIn
    }
  },
  watch: {
    isLoggedIn: function (val) {
      if(val==false) this.$router.push('/')
    }
  },
};
</script>
